@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CFAP Inventory View</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CFAPInventoryView.styles.css" asp-append-version="true" />
    @await Html.PartialAsync("_Favicons")
    <link rel="shortcut icon" href="~/favicon/favicon.ico" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-dark border-bottom box-shadow mb-3 navbar-custom-color">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CFAP Inventory View</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-lg-inline-flex justify-content-between">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        @if (User.IsInRole(HelperMethods.AdministratorRole) || User.IsInRole(HelperMethods.ManagerRole))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Settings
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="nabarDropdownMenuLink">
                                    <li><a class="dropdown-item text-dark" asp-controller="AgeGroups" asp-action="Index">Age Groups</a></li>
                                    <li><a class="dropdown-item text-dark" asp-controller="Categories" asp-action="Index">Categories</a></li>
                                    <li><a class="dropdown-item text-dark" asp-controller="ExcludeCategories" asp-action="Index">Categories (Exclude)</a></li>
                                    <li><a class="dropdown-item text-dark" asp-controller="OptionalCategories" asp-action="Index">Categories (Optional)</a></li>
                                    <li><a class="dropdown-item text-dark" asp-controller="Donors" asp-action="Index">Donors</a></li>
                                    <li><a class="dropdown-item text-dark" asp-controller="Ethnicities" asp-action="Index">Ethnicities</a></li>
                                    <li><a class="dropdown-item text-dark" asp-controller="Genders" asp-action="Index">Genders</a></li>
                                    <li><a class="dropdown-item text-dark" asp-controller="AppRoles" asp-action="Index">Manage Roles</a></li>
                                    <li><a class="dropdown-item text-dark" asp-controller="UserManagement" asp-action="Index">Manage Users</a></li>
                                    <li><a class="dropdown-item text-dark" asp-controller="Recipients" asp-action="Index">Recipients</a></li>
                                </ul>
                            </li>
                        }
                        else if (User.IsInRole(HelperMethods.MemberRole))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Contacts
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="nabarDropdownMenuLink">
                                    <li><a class="dropdown-item text-dark" asp-controller="Donors" asp-action="Index">Donors</a></li>
                                    <li><a class="dropdown-item text-dark" asp-controller="Parents" asp-action="Index">Parents (Foster/Adoption)</a></li>
                                </ul>
                            </li>
                        }
                    </ul>
                    <div class="navbar-nav text-lg-center @(SignInManager.IsSignedIn(User) ? "layout-page-title-loggedin" : "layout-page-title")">
                        <h5 class="text-light">@ViewData["Title"]</h5>
                    </div>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - CFAP - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
