@model CFAPInventoryView.Data.Models.SupplyTransaction

@{
    ViewData["Title"] = "Supply Transaction";
}

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SupplyTransactionId" />
            <div class="form-group">
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Supplies</button>
                    <ul class="dropdown-menu" id="ddlSupplies">
                        <li><input type="text" class="form-control border-0" placeholder="Search..." onkeyup="filterDropdown(this.value, 'ddlSupplies')" /></li>
                        <li><hr class="my-0" /></li>
                        @if (ViewBag.SuppliesList is not null)
                        {
                            List<Supply>? supplies = ViewBag.SuppliesList as List<Supply>;
                            if (supplies is not null && supplies.Count > 0)
                            {
                                foreach (var item in supplies)
                                {
                                    <li><a class="dropdown-item" data-supplyid="@item.SupplyId" onclick="updateSelectedId('SupplyId', this.dataset.supplyid, 'Supply_Name', this.textContent)">@item.Name</a></li>
                                }
                            }
                        }
                    </ul>
                </div>
            </div>
            <div class="form-floating mb-3">
                <input type="hidden" asp-for="SupplyId" />
                <input class="form-control" asp-for="Supply.Name" disabled />
                <label asp-for="SupplyId" class="control-label"></label>
            </div>
            <div class="form-group">
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Recipients</button>
                    <ul class="dropdown-menu" id="ddlRecipients">
                        <li><input type="text" class="form-control border-0" placeholder="Search..." onkeyup="filterDropdown(this.value, 'ddlRecipients')" /></li>
                        <li><hr class="my-0" /></li>
                        @if (ViewBag.RecipientsList is not null)
                        {
                            List<Recipient>? recipients = ViewBag.RecipientsList as List<Recipient>;
                            if (recipients is not null && recipients.Count > 0)
                            {
                                foreach (var item in recipients)
                                {
                                    <li><a class="dropdown-item" data-supplyid="@item.RecipientId" onclick="updateSelectedId('RecipientId', this.dataset.supplyid, 'Recipient_FullName', this.textContent)">@item.FullName</a></li>
                                }
                            }
                        }
                    </ul>
                </div>
            </div>
            <div class="form-floating mb-3">
                <input type="hidden" asp-for="RecipientId" />
                <input class="form-control" asp-for="Recipient.FullName" disabled />
                <label asp-for="RecipientId" class="control-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="DateDistributed" class="form-control" placeholder="date distributed" aria-required="true" />
                <label asp-for="DateDistributed" class="control-label"></label>
                <span asp-validation-for="DateDistributed" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="DistributedBy" class="form-control" placeholder="distributed by" aria-required="true" />
                <label asp-for="DistributedBy" class="control-label"></label>
                <span asp-validation-for="DistributedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
