@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center">CFAP Inventory View</h1>
<p class="text-center">Welcome, please log in to get started!</p>
<img class="w-50 mx-auto d-block" src="~/imgs/cfap-logo.svg" alt="CFAP Logo" />