@{
    ViewData["Title"] = "Welcome";
}

<h1 class="text-center mb-0">The Columbia Foster &amp; Adoption Project's Inventory View</h1>

<img class="cfap-logo mx-auto my-3 d-block" src="~/imgs/cfap-logo.svg" alt="CFAP Logo" />

<div class="row justify-content-around">
    <div class="col-md-6 col-lg-4 mb-3 mb-lg-0">
        <div class="card text-center w-75 mx-auto">
            <img src="~/imgs/i-belong-baskets-5.jpeg" class="card-img-top card-img-home" />
            <div class="card-body">
                <h5 class="card-title">Products</h5>
                <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes
                </p>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="Products" asp-action="Index" role="button" class="btn btn-outline-primary">Products »</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-3 mb-lg-0">
        <div class="card text-center w-75 mx-auto">
            <img src="~/imgs/i-belong-baskets-4.jpeg" class="card-img-top card-img-home" />
            <div class="card-body">
                <h5 class="card-title">iBelong Shopping Lists</h5>
                <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes
                </p>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="ShoppingList" asp-action="Index" role="button" class="btn btn-outline-primary">iBelong Shopping Lists »</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-3 mb-lg-0">
        <div class="card text-center w-75 mx-auto">
            <img src="~/imgs/i-belong-baskets-2.jpeg" class="card-img-top card-img-home" />
            <div class="card-body">
                <h5 class="card-title">iBelong Baskets</h5>
                <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes
                </p>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="IBelongBaskets" asp-action="Index" role="button" class="btn btn-outline-primary">iBelong Baskets »</a>
            </div>
        </div>
    </div>
</div>