@{
    ViewData["Title"] = "Welcome To";
}

<img class="cfap-logo mx-auto mb-0 d-block" src="~/imgs/cfap-logo.svg" alt="CFAP Logo" />
<h1 class="text-center mb-3 home-title">Inventory View</h1>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 justify-content-around">
    <div class="col mb-3 mb-lg-0">
        <div class="card text-center h-100 mx-auto">
            <img src="~/imgs/i-belong-baskets-5.jpeg" class="card-img-top" alt="Supplies" />
            <div class="card-body">
                <h5 class="card-title">Supplies</h5>
                <p class="card-text">
                    Add supplies to your inventory.  These supplies are also used to build the iBelong Baskets.
                </p>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="Supplies" asp-action="Index" role="button" class="btn btn-outline-primary">Supplies »</a>
                <a asp-controller="SupplyTransactions" asp-action="Index" role="button" class="btn btn-outline-primary">Transactions »</a>
            </div>
        </div>
    </div>
    <div class="col mb-3 mb-lg-0">
        <div class="card text-center h-100 mx-auto">
            <img src="~/imgs/i-belong-baskets-4.jpeg" class="card-img-top" alt="iBelong Baskets in vehicle" />
            <div class="card-body">
                <h5 class="card-title">iBelong Shopping Lists</h5>
                <p class="card-text">
                    Create a listing of the types of iBelong Baskets you need and the categories of supplies necessary to fill them.
                </p>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="ShoppingList" asp-action="Index" role="button" class="btn btn-outline-primary">iBelong Shopping Lists »</a>
            </div>
        </div>
    </div>
    <div class="col mb-3 mb-lg-0">
        <div class="card text-center h-100 mx-auto">
            <img src="~/imgs/i-belong-baskets-2.jpeg" class="card-img-top" alt="iBelong Basket inventory" />
            <div class="card-body">
                <h5 class="card-title">iBelong Baskets</h5>
                <p class="card-text">
                    An iBelong Basket provides important and necessary supplies 
                    to support the foster parent or relative caregiver who will be providing for a child.
                </p>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="IBelongBaskets" asp-action="Index" role="button" class="btn btn-outline-primary">Baskets »</a>
                <a asp-controller="BasketTransactions" asp-action="Index" role="button" class="btn btn-outline-primary">Transactions »</a>
            </div>
        </div>
    </div>
    <div class="col mb-3 mb-lg-0">
        <div class="card text-center h-100 mx-auto">
            <img src="~/imgs/statistics.svg" class="card-img-top card-img-statistics card-img-statistics-home" alt="Statistics graphs" />
            <div class="card-body">
                <h5 class="card-title">Reports</h5>
                <p class="card-text">
                    Check inventory statistics, print a shopping list of needed supply categories, 
                    and check for expiring or expired products in your inventory.
                </p>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="Reports" asp-action="Index" role="button" class="btn btn-outline-primary">Reports »</a>
            </div>
        </div>
    </div>
</div>