@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="row text-center">
    <h1>CFAP Inventory View's Privacy Policy</h1>
    <p>Type of website:  Donation Inventory</p>
    <p>Effective date:  13th day of November, 2023</p>
</div>
<div class="row my-3">
    <p>CFAP Inventory View (the "Site") is owned and operated by The Columbia Foster and Adoption Program (CFAP).</p>
    <p>Katheryn O'Hagan is the data controller and can be contacted at:  <a href="mailto:comoadoption@gmail.com">comoadoption@gmail.com</a></p>
</div>
<div class="row">
    <h4 class="text-decoration-underline">Purpose</h4>
    <p>The pupose of this privacy policy (this "Privacy Policy") is to inform users of our Site of the following:</p>
    <ol class="ms-4">
        <li>The personal data we will collect;</li>
        <li>Use of collected data;</li>
        <li>The rights of Site users; and</li>
        <li>The Site's cookie policy.</li>
    </ol>
    <p>This Privacy Policy applies in addition to the terms and conditions of our Site.</p>
</div>
<div class="row">
    <h4 class="text-decoration-underline">GDPR</h4>
    <p>For users in the European Union, we adhere to the Regulation (EU) 2016/679 of the European Parliament and the Council of 27 April 2016, known as the General Data Protection Regulation (the "GDPR").  For users in the United Kingdom, we adhere to the GDPR as enshrined in the Data Protection Act 2018.</p>
    <p>We have not appointed a Data Protection Officer as we do not fall within the categories of controllers and processors required to appoint a Data Protection Officer under Article 37 of the GDPR.</p>
</div>
<div class="row">
    <h4 class="text-decoration-underline">Consent</h4>
    <p>By using our Site users agree that they consent to:</p>
    <ol class="ms-4">
        <li>The conditions set out in this Privacy Policy.</li>
    </ol>
    <p>When the legal basis for us processing your personal data is that you have provided your consent to that processing, you may withdraw your consent at any time. If you withdraw your consent, it will not make processing which we completed before you withdrew your consent unlawful.</p>
    <p>You can withdraw your consent by:  Contacting the <a href="emailto:comoadoption@gmail.com">CFAP President</a></p>
</div>
<div class="row">
    <h4 class="text-decoration-underline">Legal Basis for Processing</h4>
    <p>We collect and process personal data about users in the EU only when we have a legal basis for doing so under Article 6 of the GDPR.</p>
    <p>We rely on the following legal basis to collect and process the personal data of users in the EU:</p>
    <ol class="ms-4">
        <li>Users have provided their consent to the processing of their data for transaction history purposes by creating an account on this Site.</li>
    </ol>
</div>
<div class="row">
    <h4 class="text-decoration-underline">Personal Data We Collect</h4>
    <p>We only collect data that helps us achieve the purposes set out in this Privacy Policy.  We will not collect any additional data beyond the data listed below without notifying you first.</p>
    <p class="text-decoration-underline">Data Collected in a Non-Automatic Way</p>
    <p>We may also collect the following data when you perform certain functions on our Site:</p>
    <ol class="ms-4">
        <li>First and last name;</li>
        <li>Email address;</li>
        <li>Phone number; and</li>
        <li>Address.</li>
    </ol>
    <p>This data may be collected using the following methods:</p>
    <ol class="ms-4">
        <li>Creating an account</li>
    </ol>
</div>
<div class="row">
    <h4 class="text-decoration-underline">How We Use Personal Data</h4>
    <p>Data collected on our Site will only be used for the purposes specified in this Privacy Policy or indicated on the relevant pages of our Site. We will not use your data beyond what we disclose in this Privacy Policy.</p>
    <p>The data we collect when the user performs certain functions may be used for the following purposes:</p>
    <ol class="ms-4">
        <li>Transaction History.</li>
    </ol>
</div>
<div class="row">
    <h4 class="text-decoration-underline">Who We Share Personal Data With</h4>
    <p class="text-decoration-underline">Employees</p>
    <p>We may disclose user data to any member of our organization who reasonably needs access to user data to achieve the purposes set out in this Privacy Policy.</p>
    <p class="text-decoration-underline">Other Disclosures</p>
    <p>We will not sell or share your data with other third parties, except in the following cases:</p>
    <ol class="ms-4">
        <li>If the law requires it;</li>
        <li>If it is required for any legal proceeding;</li>
        <li>To prove or protect our legal rights; and</li>
        <li>To buyers or potential buyers of this company in the event that we seek to sell the company.</li>
    </ol>
    <p>If you follow hyperlinks from our Site to another Site, please note that we are not responsible for and have no control over their privacy policies and practices.</p>
</div>
<div class="row">
    <h4 class="text-decoration-underline">How Long We Store Personal Data</h4>
    <p>User data will be stored until the purpose the data was collected for has been achieved.</p>
    <p>You will be notified if your data is kept for longer than this period.</p>
</div>
<div class="row">
    <h4 class="text-decoration-underline">How We Protect Your Personal Data</h4>
    <p>In order to protect your security, we use the strongest available browser encryption and store all of our data on servers in secure facilities. All data is only accessible to our employees. Our employees are bound by strict confidentiality agreements and a breach of this agreement would result in the employee's termination.</p>
    <p>While we take all reasonable precautions to ensure that user data is secure and that users are protected, there always remains the risk of harm. The Internet as a whole can be insecure at times and therefore we are unable to guarantee the security of user data beyond what is reasonably practical.</p>
</div>
<div class="row">
    <h4 class="text-decoration-underline">Your Rights as a User</h4>
    <p>Under the GDPR, you have the following rights:</p>
    <ol class="ms-4">
        <li>Right to be informed;</li>
        <li>Right of access;</li>
        <li>Right to rectification;</li>
        <li>Right to erasure;</li>
        <li>Right to restrict processing;</li>
        <li>Right to data portability; and</li>
        <li>Right to object</li>
    </ol>
</div>
<div class="row">
    <h4 class="text-decoration-underline">Children</h4>
    <p>We do not knowingly collect or use personal data from children under 16 years of age. If we learn that we have collected personal data from a child under 16 years of age, the personal data will be deleted as soon as possible. If a child under 16 years of age has provided us with personal data their parent or guardian may contact our privacy officer.</p>
</div>
<div class="row">
    <h4 class="text-decoration-underline">How to Access, Modify, Delete, or Challenge the Data Collected</h4>
    <p>If you would like to know if we have collected your personal data, how we have used your personal data, if we have disclosed your personal data and to who we disclosed your personal data, if you would like your data to be deleted or modified in any way, or if you would like to exercise any of your other rights under the GDPR, please contact our privacy officer here:</p>
    <p>Katheryn O'Hagan:  <a href="mailto:comoadoption@gmail.com">comoadoption@gmail.com</a></p>
    <p>Alternatively, you can access (and download) the information collected or delete your account here <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">account management</a>.</p>
</div>
<div class="row">
    <h4 class="text-decoration-underline">Do Not Track Notice</h4>
    <p>Do Not Track ("DNT") is a privacy preference that you can set in certain web browsers. We do not track the users of our Site over time and across third party websites and therefore do not respond to browser-initiated DNT signals.</p>
</div>
<div class="row">
    <h4 class="text-decoration-underline">Cookie Policy</h4>
    <p>A cookie is a small file, stored on a user's hard drive by a website. Its purpose is to collect data relating to the user's browsing habits. You can choose to be notified each time a cookie is transmitted. You can also choose to disable cookies entirely in your internet browser, but this may decrease the quality of your user experience.</p>
    <p>We use the following types of cookies on our Site:</p>
    <ol class="ms-4">
        <li>
            <p class="text-decoration-underline">Functional cookies</p>
            <p>Functional cookies are used to remember the selections you make on our Site so that your selections are saved for your next visits.</p>
        </li>
    </ol>
</div>
<div class="row">
    <h4 class="text-decoration-underline">Modifications</h4>
    <p>This Privacy Policy may be amended from time to time in order to maintain compliance with the law and to reflect any changes to our data collection process. When we amend this Privacy Policy we will update the "Effective Date" at the top of this Privacy Policy. We recommend that our users periodically review our Privacy Policy to ensure that they are notified of any updates. If necessary, we may notify users by email of changes to this Privacy Policy.</p>
</div>
<div class="row">
    <h4 class="text-decoration-underline">Complaints</h4>
    <p>If you have any complaints about how we process your personal data, please contact us through the contact methods listed in the Contact Information section so that we can, where possible, resolve the issue. If you feel we have not addressed your concern in a satisfactory manner you may contact a supervisory authority. You also have the right to directly make a complaint to a supervisory authority. You can lodge a complaint with a supervisory authority by contacting the <a href="mailto:comoadoption@gmail.com">CFAP President</a>.</p>
</div>
<div class="row">
    <h4 class="text-decoration-underline">Contact Information</h4>
    <p>If you have any questions, concerns or complaints, you can contact our privacy officer, Katheryn O'Hagan, at:  <a href="mailto:comoadoption@gmail.com">comoadoption@gmail.com</a>.</p>
    <p>Or by mail to:</p>
    <p>Columbia Foster and Adoption Project 19 E Walnut St., Suite C, Columbia, MO 65203</p>
    <p>You can verify our charitable status with this <a href="https://apps.irs.gov/pub/epostcard/dl/FinalLetter_83-4331481_COLUMBIAFOSTERANDADOPTIONPROJECT_04142019_01.tif" target="_blank">Determination Letter</a> or locating us on the <a href="https://apps.irs.gov/app/eos/details/" target="_blank">IRS website</a>.</p>
</div>