@model CFAPInventoryView.Data.Models.Donor

@{
    ViewData["Title"] = "Donor";
}

<h1>Edit</h1>

<hr />
<h1 class="d-lg-none">@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DonorId" />
            <div class="form-floating mb-3">
                <input asp-for="FirstName" class="form-control" aria-required="true" placeholder="first name" />
                <label asp-for="FirstName" class="control-label"></label>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="LastName" class="form-control" aria-required="true" placeholder="last name" />
                <label asp-for="LastName" class="control-label"></label>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Address1" class="form-control" aria-required="true" placeholder="address 1" />
                <label asp-for="Address1" class="control-label"></label>
                <span asp-validation-for="Address1" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Address2" class="form-control" aria-required="true" placeholder="address (cont)" />
                <label asp-for="Address2" class="control-label"></label>
                <span asp-validation-for="Address2" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="City" class="form-control" aria-required="true" placeholder="city" />
                <label asp-for="City" class="control-label"></label>
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="State" class="form-select" asp-items="ViewBag.StatesSelectList" aria-required="true">
                    <option value="@null">Select...</option>
                </select>
                <label asp-for="State"></label>
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="ZipCode" class="form-control" aria-required="true" placeholder="zip code" />
                <label asp-for="ZipCode" class="control-label"></label>
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
