/*
    Color Palette
    Orange:  #FF731D or rgb(255, 115, 29)
    White:  #FFF7E9 or rgb(255, 247, 233)
    Light Blue:  #5F9DF7 or rgb(95, 157, 247)
    Dark Blue:  #1746A2 or rgb(23, 70, 162)
*/

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #FFF7E9;
}

/*  END SCAFFOLDED CSS */

/* Global 
---------------------------------------------------------- */
.hidden {
    display: none;
}

.navbar-custom-color {
    background-color: #1746A2;
}

/* Home Page
----------------------------------------------------------- */
