html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #EEE;
}

/*  END SCAFFOLDED CSS */

/* Global 
---------------------------------------------------------- */
.hidden {
    display: none;
}

.navbar-custom-color {
    background-color: #425182;
}

.layout-page-title {
    width: 14rem;
}

.layout-page-title-loggedin {
    width: 11rem;
}

.medium-row-color {
    background-color: #e0e0e0;
}

/* Home Page
----------------------------------------------------------- */
.cfap-logo {
    width: 18rem;
}

.home-title {
    color: #6d6e71;
}

/* Reports Page
----------------------------------------------------------- */
@media (min-width: 768px) {
    .card-img-statistics-home {
        height: 43.5%;
    }
}

@media (min-width: 992px) {
    .card-img-statistics-home {
        height: 30.5%;
    }
}

@media (min-width: 1200px) {
    .card-img-statistics-home {
        height: 37%;
    }
}

@media (min-width: 1400px) {
    .card-img-statistics-home {
        height: 42%;
    }
}

.card-img-statistics {
    background-color: #029991;
}

.card-img-inventory {
    background-color: #80ceff;
}

/* Expiring Page
----------------------------------------------------------- */
.expired-row-color {
    background-color: #ff00006b;
}