html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #EEE;
}

/*  END SCAFFOLDED CSS */

/* Global 
---------------------------------------------------------- */
.hidden {
    display: none;
}

.navbar-custom-color {
    background-color: #425182;
}

.layout-page-title {
    width: 14rem;
}

.layout-page-title-loggedin {
    width: 11rem;
}

/* Home Page
----------------------------------------------------------- */
.cfap-logo {
    width: 18rem;
}